<div class="navbar-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-nav">
      <%= link_to lists_path, class: "navbar-brand" do %>
        <%= image_tag "TheWatchList1.png" %>
        <div id="navbarSupportedContent">
          </a class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Create a Movie List", new_list_path, class: "dropdown-items" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
