.card-category {
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(223, 223, 223);
  font-size: 60px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  a {
    color: white;
    text-decoration: none;
  }
  p {
    color: rgb(237, 237, 237);
    margin-bottom: 192px;
    font-size: 48px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif;
  }

  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.818);
    padding: 12px;
    border-radius: 4px;
    color: white;
  }
}


.card-product {
  overflow: hidden;
  height: 420px;
  background: rgb(242, 242, 242);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  width: 400px;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.update-icon i {
    margin-bottom: 380px;
    margin-left: 220px;
    font-size: 16px
}

p {
  a:hover{
  color: #353535;
}
}
